/* Your CSS styles go here */
@media (max-width: 860px) and (min-width: 576px) {
    b{
      width: 30%;
      font-size: 24px;
    }
    img {
      width: 55%;
      background-color: green;
    }
  }
  